/* Reset */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	font-family: 'Terminus';
}

body {
	background: rgb(30, 30, 30);

	height: 300vh;
}

/* Fonts */
@font-face {
	font-family: 'PixelSplitter';
	src: url('../fonts/PixelSplitter.ttf');
}
@font-face {
	font-family: 'Terminus';
	src: url('../fonts/Terminus.ttf');
}

/* Effect */
#loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: #000000;
	z-index: 1000;

	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#loading.hidden {
	opacity: 0;
	pointer-events: none;
}

#pixel-line {
	position: fixed;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background-image: url('../images/pixel.png');
	background-repeat: repeat;
	z-index: 100;

	opacity: 0.4;
}

#crt {
	position: fixed;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	-webkit-box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.7);

			box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.7);
}

.filter {
	filter: blur(2px) saturate(1.2) contrast(1.2) brightness(1.1);
	-webkit-filter: blur(2px) saturate(1.2) contrast(1.2) brightness(1.1);
}

.glow-green {
	color: rgb(55, 255, 0);
	text-shadow: 0 0 20px rgba(55, 255, 0, 0.8);
}

/* Body */
#intro {
	position: fixed;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	width: 100vw;
	height: 100vh;
}

h1 {
	position: relative;
	display: block;

	font-size: 42px;
	font-family: 'PixelSplitter';
	font-weight: 100;

	word-break: keep-all;

	padding: 20px;
}

#console {
	position: fixed;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;

	width: 100%;
	height: 100vh;

	overflow: hidden;
}

/* Mobile */
@media only screen and (max-width: 600px) {
	/* Effect */
	#crt {
		filter: blur(1.5px) saturate(1.2) contrast(1.2) brightness(1.1);
		-webkit-filter: blur(1.5px) saturate(1.2) contrast(1.2) brightness(1.1);
		-webkit-box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.7);
				box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.7);
	}
	#pixel-line {
		background-size: 2px;
	}
	.glow-green {
		text-shadow: 0 0 10px rgba(55, 255, 0, 0.8);
	}

	/* Body */
	#intro {
		padding: 24px;
	}
	#intro h1 {
		font-size: 25px;
		text-align: center;
	}
}